*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

:root {
  --brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --accent-color: #e7e9fc;
  --white-color: #ffffff;
  --light-color: #f4f4fd;
}

ul li {
  list-style: none;
}

body {
  font-family: 'Roboto', 'Verdana', sans-serif;
  color: var(--text-color);
  font-size: 16px;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--dark-color);
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo > span {
  color: var(--brand-color);
}
.header-list {
}
.header-list-item {
  color: var(--dark-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-list-item:hover,
.header-list-item:focus {
  color: var(--brand-color);
}

.header-info {
}
.header-info-item {
  color: var(--text-color);
  letter-spacing: 0.03em;
}
.header-info-item:hover,
.header-info-item:focus {
  color: var(--brand-color);
}
.first-section-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
  background-color: var(--dark-color);
}
.button {
  color: var(--white-color);
  background-color: var(--brand-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  font-family: inherit;
}
.section-list {
}
.title-two {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
  letter-spacing: 0.02em;
}

.cards-item > a > .title-two:hover,
.cards-item > a > .title-two:focus {
  color: var(--brand-color);
}

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: var(--dark-color);
  letter-spacing: 0.02em;
}
.photo-list {
}
.photo-list-item {
}

.team-list {
}
.team-list-item {
}

.team-list-text {
  letter-spacing: 0.02em;
  color: var(--text-color);
  line-height: 1.5;
}
.footer {
  background-color: var(--dark-color);
}
.footer > .logo {
  color: var(--white-color);
}
.footer-text {
  color: var(--accent-color);
  letter-spacing: 0.02em;
}

.filter-list {
}
.filter-list-item {
}
.hide {
  visibility: hidden;
}
.filter-list-item > button {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--brand-color);
  cursor: pointer;
  background-color: var(--light-color);
  letter-spacing: 0.04em;
}
.filter-list-item :hover {
  background-color: var(--brand-color);
  color: var(--white-color);
}
.cards {
}
.cards-item {
}
.cards-text {
  color: var(--text-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
}
