*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

:root {
  --brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --accent-color: #e7e9fc;
  --white-color: #ffffff;
  --light-color: #f4f4fd;
  --black-color: rgba(0, 0, 0, 0.15);
}

ul li {
  list-style: none;
}

body {
  font-family: 'Roboto', 'Verdana', sans-serif;
  color: var(--text-color);
  font-size: 16px;
  text-decoration: none;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--dark-color);
  text-decoration: none;
  letter-spacing: 0.03em;

  margin-right: 77px;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo > span {
  color: var(--brand-color);
}
.header-list {
  display: flex;
}

.header-list-link {
  color: var(--dark-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-list-item {
}
.header-list > .header-list-item:not(:last-child) {
  margin-right: 40px;
}

.header-list-link:hover,
.header-list-link:focus {
  color: var(--brand-color);
}

.header-info {
  display: flex;
  margin-left: auto;
}
.info-link {
  color: var(--text-color);
  letter-spacing: 0.03em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.info-link:hover,
.info-link:focus {
  color: var(--brand-color);
}
.header-info .info-item + .info-item {
  margin-left: 40px;
}
.first-section-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 48px;
}

.first {
  background-color: var(--dark-color);
}
.one {
  text-align: center;
  padding-top: 192px;
  padding-bottom: 192px;
}

.button {
  border: none;
  color: var(--white-color);
  background-color: var(--brand-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  font-family: inherit;
  box-shadow: 0px 4px 4px var(--black-color);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 170px;
  text-align: center;
  cursor: pointer;
}
.section-list {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.section-list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features {
}
.section {
  padding-bottom: 120px;
}
.with-paddingtop {
  padding-top: 120px;
}
.title-two {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.cards-item > a > .title-two:hover,
.cards-item > a > .title-two:focus {
  color: var(--brand-color);
}

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: var(--dark-color);
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}
.photo-list {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.photo-list-item {
  flex-basis: calc((100% - 48px) / 3);
}

.team-list {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.team-list-item {
  flex-basis: calc((100% - 72px) / 4);
}
.team-text {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  background: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-img {
  display: block;
}
.team {
  background-color: var(--light-color);
}
.team-list-text {
  letter-spacing: 0.02em;
  color: var(--text-color);
  line-height: 1.5;
}
.footer {
  background-color: var(--dark-color);
}
.footer-cont {
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  color: var(--white-color);
  margin-bottom: 16px;
  display: block;
  margin-right: 0px;
}
.footer-text {
  color: var(--accent-color);
  letter-spacing: 0.02em;
  width: 264px;
  display: block;
  line-height: 1.5;
}
.header-cont {
  display: block;

  border-bottom: 1px solid rgba(46, 47, 66, 0.08);
}
.filter-cont {
  margin-bottom: 72px;
}
.portfolio-sctn {
  padding-top: 96px;
}
.filter-list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}
.btn {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.filter-list-item {
}
.hide {
  visibility: hidden;
}
.filter-list-item > button {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--brand-color);
  cursor: pointer;
  background-color: var(--light-color);
  letter-spacing: 0.04em;
}
.filter-list-item :hover {
  background-color: var(--brand-color);
  color: var(--white-color);
}
.cards {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}
.cards-item {
  flex-basis: calc((100% - 48px) / 3);
}
.cards-text {
  color: var(--text-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.cards-txt {
  padding-left: 16px;
  text-align: left;
  padding-top: 32px;
  padding-bottom: 32px;
  background: var(--white-color);

  border: 0.5px solid var(--light-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.cards-img {
  display: block;
}
